:root { 
    --primary-color: azure;
    --secondary-color: #4c6085;
    --tertiary-color: #5b8266;
}

body {
    background-color: var(--primary-color);
}

header {
    font-size: 65px;
    margin: 10px;
    padding: 10px;
    font-weight: bolder;
}

h2 {
   font-size: 30px;
}




